 <h1 class="display-5 fw-bold">Celso Patiri - Jera Movies</h1>

<p class="lead mb-4">Para utilizar você precisa se <strong>registrar e realizar o login</strong>.<br>
        Cada usuário pode criar até <strong>4 perfis</strong>. As listas '<strong>watchlist</strong>' e '<strong>watched movies</strong>' são associadas ao perfil. 
        Inicialmente cada perfil recebe uma lista de filmes aleatório como recomendação.
        Ao marcar o primeiro filme na 'watchlist', ou 'watched', <strong>cada recomendação de filmes subsequente será baseada nos generos mais ocorrentes</strong> entre os filmes presentes nas duas listas.
        <br>Enquanto um perfil está selecionado, uma <strong>search bar pode ser utilizada para pesquisar filmes por termo</strong>. 
</p>

<% if (messages.error) { %>
   <h4 style="color: red;"><%= messages.error %></h4> 
<% } %> 

<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" required>
    </div>
    <button class="btn btn-primary btn-md px-4 gap-3 me-2" type="submit" style="margin-top: 2vh;">
        Login
    </button>
</form>
    
<a type="button" href="/register" class="btn btn-primary btn-md px-4 gap-3 me-2" style="margin-top: 2vh;">Register</a>


