<header>
    <nav>
        <a href="/">JeraMovies</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Add User</a></li>
            <li><a href="/movies">movies</a></li>
            <li><a href="/movies/new">Add movie</a></li>
            <li><a href="/profiles">profiles</a></li>
            <li><a href="/profiles/new">Add profile</a></li>
        </ul>
    </nav>
</header>