<header>
    <nav>
        <a type="button" href="/" class="btn btn-primary btn-lg px-4 gap-3 me-2" style="margin-bottom: 2vh;">
            <p class="display-5 fw-bold" href="/">JeraMovies</p>
        </a>
        <!-- <li><a href="/users">Users</a></li> -->
       
    </nav>
</header>