<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="shared/main.css" />
		<title>Celso Patiri - JeraMovies</title>
	</head>
	<body style="margin: 2vh">
		<br />
		<%- include('../partials/header.ejs') %> <%- body %>
		<br />
	</body>
</html>
