<h2 class="display-6 fw-bold">Edit Profile</h2>
<form action="/profiles/<%= profile.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <br>
    <button class="btn btn-primary btn-sm px-4 gap-1" type="submit" style="margin-top: 2vh;">
        Update
    </button>
    <a type="button"  href="/profiles/<%= profile.id %>"class="btn btn-danger btn-sm px-4 gap-3" style="margin-top: 2vh;">
        Cancel
    </a>

</form>