<label >Name</label>
<input type="text" name="name" value="<%= user.name %>">
<label >Email</label>
<input type="text" name="email" value="<%= user.email %>">
<label >Password</label>
<input type="text" name="password" value="<%= user.password %>">
<label >DOB</label>
<input type="date" name="dob" value="<%= user.dob %>">